*{margin: 0;padding: 0}
.container{width: 1160px}
body{min-width: 320px;font-family: Microsoft YaHei;padding-top: 120px}
html,body{height: 100%}
ul{margin: 0}
ul li{list-style: none}
img{max-width: 100%;height: auto}
#allmap img{max-width: none}
.panel{border: 0;background: none;box-shadow: none}
.form-control{box-shadow: none;border-radius: 0}
.form-control:focus{box-shadow:none}
section{position: relative}
section .coverlay{position: absolute;top: 0;width: 100%;}
.nav > li > a:focus, .nav > li > a:hover{background: none}
a:hover,a,a:active,a:focus,button{text-decoration: none;transition: all .3s;-webkit-transition: all .3s}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{background: #0A85ED;border: 0;border-radius: 0}
.fa-sm .fa{font-size: 2.5em;width: 50px;height: 50px;border-radius: 50%;background: #0A85ED;color: #fff;line-height: 50px;text-align: center}
.fa-sm .text{display: inline-block;padding-left: 10px;vertical-align: -3px}
.fa-sm .text p{color: #A3ABB3}
ul.col5 >li{float: left;width: 20%}
header{background: #fff;box-shadow: 0 2px 2px rgba(0,0,0,0.1)}
header.navbar-fixed-top{z-index: 1070}
header .navbar-brand{background: url(../images/logo.png) no-repeat 0 0/contain;width: 190px;height: 120px;margin-top: -40px}
header .top-text{text-align: right;padding: 10px 0;font-size: 13px;color: #506a85;background: #F5F7FA;border-bottom: 1px solid #eee}
header .top-text .fa{margin-right: 8px;line-height: 1}
header .top-text .divider{display: inline-block;margin: 0 5px;font-size: 12px;vertical-align: top}
header .navbar-nav{float: right}
header .navbar{margin-bottom: 0;border: 0}
header .nav > li{margin-left: 40px}
header .nav > li > a{color: #4d4d4d;padding: 30px 0}
header .nav > li > a:hover{background: none;color: #0A85ED}
header .nav > li.active > a{color: #0A85ED}
header.animate .nav > li > a{padding: 20px 0}
header.animate .navbar-brand{height: 100px}
header .collapse{padding-right: 0}
.banner{position:relative}
.banner .popover{display: block;top: 30%;left: 60%;border: 0;border-radius: 0;background: rgba(255,255,255,0.85);box-shadow: none}
.banner .popover h3{margin-top: 0}
.banner .popover-content{padding: 30px;color: #b6b6b6}
.banner .btn-primary{background: #0A85ED;border-color: #0A85ED}
.banner .btn-primary:hover{background: #fff;color: #0A85ED}
.popover.right > .arrow::after{border-right-color:rgba(255,255,255,0.85)}
.popover.right > .arrow{border: 0}
section .header{text-align: center;margin: 25px 0 30px}
section .header span{color: #0a85ed}
section .header p{color: #73879c;font-size: 18px}
section .header h2{position: relative;display: inline-block;background: #fff;padding: 0 10px}
section .header h2:before{content: "";position: absolute;width: 240px;border-bottom: 4px solid #0A85ED;left: 50%;margin: -2px 0 0 -120px;z-index: -1;top: 50%}
.product {margin-bottom:60px}
.product .content h3{border-bottom: 1px solid #eee}
.product .content h3 small{border-bottom: 6px solid #0A85ED;display: inline-block;padding-bottom: 10px;text-transform: uppercase}
.product .content p{color: #8b8b8b;margin: 20px 0 40px}
.product .content .fa{font-size: 4em;color: #0A85ED;background: #fff;border: 1px solid #0A85ED;border-radius: 50%;width: 100px;height: 100px;line-height: 100px}
.product .content .col5{padding-top: 40px}
.product .content .col5 li{text-align: center;padding: 0 18px}
.product .content .bxslider ul li p{font-size: 12.5px;color: #000}
.product .content .bxslider h4{font-size: 16px;margin: 15px 0;font-weight: bold;letter-spacing: 1.2pt}
.product .content .col5 li:hover .fa{background: #0A85ED;color: #fff}
.product .content .col5 li:hover h4{color: #0A85ED}
.product .content .text-img >div{display: table-cell;vertical-align: middle;font-size: 24px;color: #a4a4a4;letter-spacing: 1.5pt}
.product .content .text-img >div:last-child{padding-left: 250px}
.product .content .text-img .font{color: #808080}
.product .content .bx-pager{z-index: 50}
.product .content .bx-wrapper{margin-bottom: 0}
.theme{color: #506a85}
.theme .coverlay{top: 150px}
.theme .container{padding-right: 30%}
.theme .nav-tabs{border:1px solid #ddd;border-radius: 6px;overflow: hidden}
.theme .nav-tabs > li a{text-align: center;margin-right: 0;color: #506a85;transition: none;-webkit-transition: none}
.theme .nav-tabs > li.active a{color: #fff}
.theme .nav-tabs > li+li{border-left: 1px solid #ddd}
.theme .nav-tabs > li{margin-bottom: -2px;padding: 0}
.theme .tab-content{margin: 30px 0 60px}
.theme .tab-content p{color: #909090}
.theme .list li{padding: 10px 0 10px 30px;background: url(../images/arrow-right.png) no-repeat 0 50%/20px auto;}
.theme .list li:hover{color: #0A85ED}
.theme h4{margin-bottom: 20px}
.contact{background: #0A85ED;color: #fff;padding: 20px 0}
.contact ul{background: url(../images/logo_sm.png) no-repeat 0 50%;padding: 12px 0 12px 80px}
.contact ul li:first-child{text-align: center;padding-right: 20px;margin-right: 20px;border-right: 1px solid #fff;background: url(../images/logo_en.png) no-repeat 20% 100%/90% auto;height: 40px;vertical-align: top}
.contact .btn{float: right;color: #fff;border: 1px solid #fff;font-size: 16px;padding: 3px 15px}
.contact .btn:hover{background: #fff;color: #0A85ED}
.contact ul li:last-child{float: right;padding-top: 5px}
.cooperative-partner{background: #F2F5F7;padding-bottom:40px}
.cooperative-partner ul li{text-align: center;text-transform: uppercase;padding: 0 40px}
.cooperative-partner .bx-wrapper img{display: inline-block}
.cooperative-partner ul.row li:hover img{box-shadow: 0 0 10px rgba(0,0,0,0.2)}
.cooperative-partner ul.row li p{margin: 10px 0;padding: 10px 0;background: #fff;color: #041d85;box-shadow: 0 2px 0 #E6E9ED}
.cooperative-partner .header h2{background: #F2F5F7}
.technical-support{color: #fff}
.technical-support .coverlay{top: 180px}
.technical-support .img-circle{width: 340px;height: 340px;background: #535353;overflow: hidden}
.technical-support .img-circle img{max-width: none;width: 250%}
.technical-support .s1{color: #73879c}
.technical-support p{color: #c9c9c9;margin-bottom: 5px}
.technical-support h3{position: relative;margin-bottom: 20px}
.technical-support h3:after{content: "";position: absolute;left: 0;border-bottom: 5px solid #0A85ED;bottom: 0;background: #ddd;z-index: 100}
.technical-support .s{font-size: 16px}
.technical-support .p{margin: 20px 0 40px}
.technical-support .list-inline li{margin-right: 60px}
.technical-support .bx-pager{bottom: -100px}
.tomore{background: #0A85ED;text-align: center;padding: 20px 0;color: #fff;position: relative}
.tomore:after{content: ""; width: 0;height: 0;border-left: 24px solid transparent;border-right: 24px solid transparent;border-bottom: 18px solid #0A85ED;position: absolute;left: 50%;top: -18px;margin-left: -24px}
.join-us ul{margin: 0 -5px}
.join-us ul li{padding: 0 5px}
.join-us ul li .thumb{border: 1px solid #0A85ED;padding: 0 15px 15px;transition: all .3s;-webkit-transition: all .3s}
.join-us ul li .thumb:hover{box-shadow: 0 0 10px rgba(0,0,0,0.2)}
.join-us .thumb h3,.join-us .p1{color: #0A85ED}
.join-us p{color: #919191}
.join-us .p2{color: #000}
.join-us .p1{margin-bottom: 5px}
.join-us .email{color: #0A85ED;margin: 10px 0 40px}

.memorabilia{margin-bottom: 100px}
.memorabilia .carousel{text-align: right;margin-top: 70px}
.memorabilia .carousel-inner{width: 300px;display: inline-block;margin-bottom: 80px;text-align: left;height: 600px}
.memorabilia .carousel-inner .caption{margin-bottom: 20px;background: #F2F5F7;padding: 10px 5px;border: 1px solid #8A9BAD;border-radius: 6px}
.memorabilia .carousel-inner .caption:hover{background: #0A85ED;color: #fff;border-color: #0A85ED}
.memorabilia .carousel-indicators{position: relative;margin: 0;width: 100%;left: 0}
.memorabilia .carousel-indicators:after{content: "";position: absolute;left: 25px;right: 25px;top:50%;border-top: 2px solid #0A85ED;margin-top: -4px;z-index: -1}
.memorabilia ol li{position: relative;text-indent: 0;margin: 0}
.memorabilia ol li+li{margin-left: 100px!important;}
.memorabilia ol li span{position: absolute;color: #C0C0C0;bottom: -35px;font-size: 16px;display: block;width: 50px;text-align: center;left: 50%;margin-left: -25px;font-weight: bold}
.memorabilia .carousel-indicators .active{background-color: #0A85ED}
.memorabilia .carousel-indicators .active span{color: #0A85ED}
.memorabilia .carousel-indicators li{background-color: #C0C0C0;border: 0;width: 15px;height: 15px}
.memorabilia .svg{width: 700px;height: 600px;float: left;transform: translateX(50px);-webkit-transform: translateX(50px)}


.login img{max-width:none}
.login .panel{background:#fff;padding:30px 40px 45px 70px;box-shadow:0 3px 20px rgba(0,0,0,0.2);position:absolute;top:50%;right:10%;margin-top:-133px;width:574px;#width:500px}
.login legend{border:0;color:#284A94;font-size:36px;margin-bottom:30px}
.login .error{color:#b92424;font-size:13px;letter-spacing:1.8pt}
.login .btn,.login .input-group-addon{background:#284A94;color:#fff;border-color:#284A94;border-radius:0;letter-spacing:1.8pt;}
.login .input-group{margin-top:15px;width:60%}
.login input{border-color:#284A94}
.login .form-group{margin-right:15px;position:relative;width:170px\0;#width:130px;display:inline-block\0;float:left\9;#margin-right:40px}
.login .input-group-addon{padding:6px 19px;#height:20px;#width:80px}
.login .btn{padding:6px 20px;#height:35px}
.login .fa{color:#284A94;position:absolute;left:10px;z-index:100;top:10px}
.login .form-control{text-indent:20px;#height:20px;#text-indent:0}
.login .form-control::-moz-placeholder{color: #ddd}
.login .form-control::-webkit-input-placeholder{color: #ddd;}
.login .input-group .form-control{width:170px\0;#width:130px;}

footer{background: url(../images/foot_bg.jpg) no-repeat 0 0;color: #fff}
footer .form-control{background: none;border-color: #fff;margin-bottom: 10px;color: #ddd}
footer .form-control:focus{box-shadow: none}
footer .content{padding: 50px 0 20px}
footer dd{margin-bottom: 50px}
footer dt{margin-bottom: 40px;display: inline-block;border-top: 5px solid #0A85ED}
footer .bottom-text{background: #283645;padding: 20px 0;position: relative}
footer .bottom-text a,footer .bottom-text span{color: #6B839D}
footer .bottom-text a:hover{color: #ddd}
footer .bottom-text ul{display: inline-block;margin-left: 20%}
footer .bottom-text .container{position: relative}
footer button.btn{background: #0A85ED;color: #fff;border-radius: 0;padding: 6px 40px 6px 50px;letter-spacing: 10pt}
footer button.btn:hover{background: #fff;color: #0A85ED}
footer .form-control::-moz-placeholder{color: #fff}
footer .form-control::-webkit-input-placeholder{color: #fff;}
.back-top{background: url(../images/back_top.png) no-repeat 0 0;display: inline-block;width: 40px;height: 40px;position: absolute;right: 15px;top: 50%;margin-top: -20px}


.thumb{position: relative}
.thumb .caption{position: absolute;width: 100%;bottom: 0;text-align: center;z-index: 10;padding: 5px 0}
.fa-tag,.fa-angle-right{margin-right: 5px}
.journalism{margin: 30px auto 50px}
.journalism .list-content .marker{color: #0A85ED;padding: 10px 0;border-top: 1px solid #eee;border-bottom: 1px solid #eee;margin-bottom: 30px}
.journalism .list-content .text-indent{text-indent: 30px;line-height: 1.8}
.journalism .list-content .date{color: #a8a8a8}
.journalism .list-content .more{text-align: center;padding: 20px 0}
.journalism .list-content .more a{color: #0A85ED}
.journalism .list-content>li+li{border-top: 1px solid #eee;padding-top: 20px}
.journalism .side-content .input-group-btn .btn{background: #0A85ED;color: #fff}
.journalism .side-content .title{border-top: 1px solid #0A85ED;border-bottom: 1px solid #0A85ED;display: inline-block;padding: 10px 0;margin: 30px 0 10px}
.journalism .side-content .marker{padding: 10px 0;margin-bottom: 15px;color: #bababa;border-bottom: 1px solid #eee}
.journalism .side-content .caption{background: rgba(255,255,255,0.5);color: #222}
.journalism .side-content .ul1 li{border-bottom: 1px solid #eee}
.journalism .side-content .ul1 li a{display: block;padding: 10px 0;color: #222}
.journalism .side-content .ul1 li a:hover{padding-left: 10px}
.journalism .side-content ul .fa{color: #0A85ED}
.journalism .side-content .fa-angle-right{margin-right: 10px;font-size: 18px}

.hvr-overline-from-left {
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    vertical-align: middle;
}
.hvr-overline-from-left::before {
    background: #0A85ED none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 100%;
    top: 0;
    transition-duration: 0.3s;
    transition-property: right;
    transition-timing-function: ease-out;
    z-index: -1;
}
.hvr-overline-from-left:hover::before, .hvr-overline-from-left:focus::before, .hvr-overline-from-left:active::before {
    right: 0;
}
li.active  .hvr-overline-from-left::before{right: 0}
.jvectormap-zoomin,.jvectormap-zoomout{display: none}
svg:not(:root){overflow: visible}
.jvectormap-label {position: absolute;display: none;border-radius: 4px;background: rgba(0,0,0,0.7);color: #fff;padding: 5px;}


.ticker-headline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 25px 0;
    margin: 0;
    font-size: 18px;
}


.carousel.vertical .carousel-inner > .item {
    width: auto;
    padding-right: 50px;
    -webkit-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel.vertical .carousel-inner > .item {
        -webkit-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }
    .carousel.vertical .carousel-inner > .item.next,
    .carousel.vertical .carousel-inner > .item.active.right {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner > .item.prev,
    .carousel.vertical .carousel-inner > .item.active.left {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner > .item.next.left,
    .carousel.vertical .carousel-inner > .item.prev.right,
    .carousel.vertical .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top: 0;
    }
}
.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
    display: block;
}
.carousel.vertical .carousel-inner > .active {
    top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel.vertical .carousel-inner > .next {
    top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
    top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
    top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
    top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
    top: 100%;
}

.carousel.vertical .carousel-control {
    left: auto;
    width: 50px;
}
.carousel.vertical .carousel-control.up {
    top: 0;
    right: 0;
    bottom: 50%;
}
.carousel.vertical .carousel-control.down {
    top: 50%;
    right: 0;
    bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-up,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .glyphicon-chevron-up {
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up,
.carousel.vertical .carousel-control .icon-down {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
}
.dynamic-list{padding-top: 20px;margin-bottom:50px}
.dynamic-list .search{background: #F6F6F6;padding: 20px 20%;margin-bottom: 10px}
.dynamic-list .search .form-control{padding: 8px 30px;height: auto}
.dynamic-list .search .input-group-btn>.btn{background: #0a85ed;color: #fff;border: 0;border-radius: 0;padding: 9px 30px}
.dynamic-list .search .input-group-btn>.btn:hover{background: #1F559E}
.dynamic-list .plane-head{text-align: center;background: #2A63B0;color: #fff;padding: 20px 5px}
.dynamic-list .plane-head h3{margin: 0}
.dynamic-list .plane-head .divider{border-bottom: 2px solid #5791E3;display: inline-block;width: 25px;}
.dynamic-list .thumb{color: #9a9a9a}
.dynamic-list .thumb h4{font-size: 14px;margin-bottom: 5px}
.dynamic-list .info-content{border: 1px solid #C7C7C7;padding: 50px}
.dynamic-list .info-content .article-head{text-align: center}
.dynamic-list .info-content .article-head small{color: #9a9a9a}
.dynamic-list .info-content .article-head small span{padding-left: 10px}
.dynamic-list .info-content .article-head h4{margin-top: 0}
.dynamic-list .info-content article p{text-indent: 20px;line-height: 1.5;margin: 0}
.dynamic-list .info-content article .bottom-title{color: #9a9a9a;margin-top: 30px}
.dynamic-list .info-content .img-md{margin: 30px 0 20px}
.dynamic-list .media-box{background: #F6F6F6;padding: 12px 12px 0}
.dynamic-list .media-box .media .media-left a{width: 100px;display: block}
.dynamic-list .media-box .media{margin-bottom: 25px}
.dynamic-list .media-box .media h4{font-size: 16px;margin-bottom: 10px;color: #5D98E4}
.dynamic-list .media-box .media p{margin-bottom: 4px;color: #9a9a9a;word-break:break-all}


@media (max-width: 992px){
    body{overflow-x:hidden;padding-top:50px}
    .container{width: 100%;padding: 0 10px}
    header .navbar-nav{float:none;margin:20px 0 10px;}
    .theme .container{padding-right:0}
    ul.col5 >li{width:50%}
    .svg{display:none}
    .memorabilia .carousel-inner{width:auto;display:block;height:auto}
    .memorabilia .carousel.vertical .carousel-inner > .item{padding-right:0}
    .join-us ul li+li{margin-top:15px}
    footer{background-size:100% 100%}
    footer .bottom-text ul{display:block;margin:10px 0 0}
    footer .list-inline > li{padding-left:0}
    .technical-support .coverlay{top:0}
    .technical-support .img-circle{width:250px;height:250px;margin:30px auto}
    .cooperative-partner ul li{padding:0 10px}
    .cooperative-partner .bx-wrapper img{display:block;width:100%}
    .product .content p{min-height:80px}
    .product .content .text-img > div{display:block}
    .product .content .text-img > div:last-child{padding-left:0}
    .banner .popover{left:0;right:0;top:0;bottom:-1px;max-width:100%;padding:0;background:rgba(255,255,255,0.7)}
    .banner .popover-content{padding:10px;margin-top:20px}
    .banner .popover.right{margin-left:0}
    .banner .popover-content>*{display:inline-block}
    .banner .popover-content>h3{float:left}
    .banner .popover-content >div{float:right;margin-top:20px}
    header .top-text{display:none}
    header .navbar-brand{margin-top:0}
    header .navbar-brand{height:50px}
    header.animate .navbar-brand{height:50px}
    .img-holder{display:none}
    section .coverlay{position:relative}
    .technical-support{background: url(../images/su_bg.jpg) no-repeat 0 0}
    .theme{background: url(../images/t_bg.jpg) no-repeat 0 0}
    .technical-support .list-inline li{margin-right:0;display:block}
    .technical-support .list-inline li:last-child{margin:10px 0 30px}
    .technical-support .bx-wrapper{margin-bottom:0}
    body>div:nth-child(1),body>div:nth-child(2){display:none}
    .banner{background: url(../images/banner_1.jpg) no-repeat 50% 0;height:135px}
    .banner img{display:none}
    .theme .coverlay{top:0;padding:20px 10px 20px 0}
    .back-top{top:0}
    .contact ul li:first-child{border-right:0;text-align:left;background-position:0 80%;border-bottom:1px solid #fff;height:50px;margin-bottom:8px;background-size:180px auto}
    .contact ul li{display:block}
    .contact ul li:last-child,.contact .btn{float:none;margin-top:10px}
    .fa-sm .fa{font-size:1.5em;width:40px;height:40px;line-height:40px;vertical-align:top}
    .fa-sm .text{width:85%}
    footer button.btn{display:block;width:100%}
    footer dd{margin-bottom:15px}
    .navbar-toggle .icon-bar{background-color:#563d7c}
    .navbar-toggle{background-color: #f9f9f9; border-color: #f9f9f9;}
    header .nav > li{margin-left:0}
    header .nav > li > a,header.animate .nav > li > a{padding:10px 0;line-height:normal}
}