<style type="text/css">
    th.header, td.ng-binding {
        text-align: left;
    }

    .ng-scope td {
        text-align: left;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        新闻分类列表
                    </h3>&nbsp;&nbsp;
                    <!--<a class="btn btn-primary" data-toggle="modal" data-target="#modal1" ng-click="add()">添加</a>-->
                </div>
                <div class="box-body">
                    <table ng-table="tableParams" class="table" show-filter="false">
                        <tr ng-repeat="e in $data">
                            <td title="'新闻类型'" style="text-align: left;">
                                {{ e.newstypename}}
                            </td>
                            <td title="'创建时间'" style="text-align: left;">
                                {{e.createdate.replace("T"," ")}}
                            </td>
                            <td title="'操作'" style="text-align: left;">
                                <a ng-click="edit(e)" data-toggle="modal" data-target="#modal1" class="btn btn-primary">修改</a>
                                <!--<button type="button" class="btn btn-primary" ng-click="delete(e)">删除</button>-->
                            </td>
                            
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>
</section>


<div ng-show="loading" style="left: 45%; top: 30%; background: fixed; z-index: 1000; position: absolute;">
    <img src="/backend/images/load_gif.gif" />
</div>

<div class="modal" id="modal1" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>
                        &times;
                    </span>
                </button>
                <h4 class="modal-title" id="theModalLabel">{{mode==='add'?"新增":"编辑"}}新闻类型</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">新闻类型</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="selected.newstypename" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">保存 </button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭 </button>
            </div>
        </div>
    </div>
</div>
