<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>中福会</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery.bxslider.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="js/layer/skin/layer.css" rel="stylesheet" />
    <script src="Scripts/vue.min.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="bodyapp">
    <header class="navbar-fixed-top" id="topapp">
        <div class="top-text">
            <div class="container">
                <i class="fa fa-envelope-o"></i>market@tongyuinfo.com &nbsp;&nbsp;<i class="fa fa-mobile-phone"></i>021-23051515 <span class="divider">|</span>{{masagedate}}
            </div>
        </div>
        <nav class="navbar">
            <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#divHeaderPos1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse" id="divHeaderPos1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="hvr-overline-from-left">首页</a></li>
                        <li><a href="#themeapp" class="hvr-overline-from-left">关于统御</a></li>
                        <li><a href="#productapp" class="hvr-overline-from-left">产品与服务</a></li>
                        <li><a href="#divAnLiZhanShi" class="hvr-overline-from-left">案例展示</a></li>
                        <li><a href="#divHeZuoHuoBan" class="hvr-overline-from-left">合作伙伴</a></li>
                        <li><a href="#joinapp" class="hvr-overline-from-left">加入我们</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="banner" id="bannerapp">
        <ul>
            <li><img src="images/banner_1.jpg" alt="" /></li>
        </ul>
        <div class="popover right">
            <div class="arrow"></div>
            <div class="popover-content">
                <h3>
                    统御信息技术<br />
                    <small>没有完美的人</small><br />
                    只有完善的团队
                </h3>
                <div class="text-right">
                    <a href="/" class="btn btn-primary">了解详情</a>
                </div>
            </div>
        </div>
    </div>
    <section class="product" id="productapp">
        <div class="container">
            <div class="header">
                <h2>我们的<span>产品</span></h2>
                <p>专业与实力打造最优项目</p>
            </div>
            <div class="content">
                <ul class="product-bxslider">
                    <li class="slider1">
                        <h3>
                            云存储<br />
                            <small>Cloud</small>
                        </h3>
                        <p>
                            将网络中大量各种不同类型的存储设备通过应用软件集合起来协同工作，共同对外提供数据存储和业务访问功能的一个系统。云存储是一个以数据存储和管理为核心的云计算系统。简单来说，云存储就是将储存资源放到云上供人存取的一种新兴方案。使用者可以在任何时间、任何地方，透过任何可连网的装置连接到云上方便地存取数据。
                        </p>
                        <img src="images/sl_c.png" alt="" />
                    </li>
                    <li class="slider2">
                        <h3>
                            企业应用<br />
                            <small>Enterprise application</small>
                        </h3>
                        <p>
                            依托于开放平台的各类企业应用并不是独立的系统，这些应用多是彼此连接的、相互通过不同层次进行交互，同时这些应用又都有可能与其它企业的相关应用连接，从而构成一个结构复杂的、跨越Intranet和Internet的分布式企业应用群集。
                        </p>

                        <div class="text-img">
                            <div>
                                多年行业专注 快速开发 敏捷定制<br />
                                满足客户深度定制需求 成就软件定制专家
                            </div>
                            <div>
                                <img src="images/sl_e.png" alt="" />
                            </div>
                        </div>
                    </li>
                    <li class="slider3">
                        <h3>
                            APP/网站开发服务<br />
                            <small>SERVICE</small>
                        </h3>
                        <p>
                            提供超过5种主流开发服务，IOS开发、android开发，微信开发、html5开发、商城开发；拥有超过200人的开发团队，服务超过500家企业，我们了解大中小型企业的生意模式，需求，我们倡导让客户感知产品的应用体验价值，而不仅是产品的功能
                        </p>
                        <ul class="clearfix col5">
                            <li>
                                <i class="fa fa-apple"></i>
                                <h4>iOS开发</h4>
                                <p>专注于高端型IOS系统开发，提供优质的IOS APP开发设计方案服务。</p>
                            </li>
                            <li>
                                <i class="fa fa-android"></i>
                                <h4>Android开发</h4>
                                <p>针对主流的android系统，提供一站式APP咨询、策划、开发服务。</p>
                            </li>
                            <li>
                                <i class="fa fa-wechat"></i>
                                <h4>微信公众平台开发</h4>
                                <p>针对企业需求提供专业微信公众平台开发服务，让微营销更简单！</p>
                            </li>
                            <li>
                                <i class="fa fa-html5"></i>
                                <h4>手机网站制作</h4>
                                <p>采用响应式布局，基于HTML5+CSS3设计，为您打造优质体验手机网站。</p>
                            </li>
                            <li>
                                <i class="fa fa-internet-explorer"></i>
                                <h4>商城网站建设</h4>
                                <p>针对高端商城开发需求客户，提供高端型商城网站定制开发服务。</p>
                            </li>
                        </ul>
                    </li>
                    <li class="slider4">
                        <h3>
                            大数据<br />
                            <small>big data</small>
                        </h3>
                        <p>
                            在一定时间范围内用常规软件工具进行捕捉、管理和处理的数据集合，是需要新处理模式才能具有更强的决策力、洞察发现力和流程优化能力的海量、高增长率和多样化的信息资产。大数据的5V特点（IBM提出）：Volume（大量）、Velocity（高速）、Variety（多样）、Value（低价值密度）、Veracity（真实性）。
                        </p>
                        <div class="text-img">
                            <div>
                                <img src="images/sl_t.png" alt="" />
                                <div class="font">从海量数据中获取最有价值的知识和信息</div>
                            </div>
                            <div>
                                <img src="images/sl_b.png" alt="" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="theme" id="themeapp">
        <div class="img-holder" data-image="images/t_bg.jpg" data-width="2545" data-height="803"></div>
        <div class="coverlay">
            <div class="container">
                <h4>统御动态</h4>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li v-for="(newsitem,index) in new_typesarr" v-on:click="newsclick(newsitem.id)" v-bind:class="index===0?'col-sm-4 col-xs-4 active':'col-sm-4 col-xs-4' "><a v-bind:href="index===0?'#tab01':index===1?'#tab02':'#tab03' " data-toggle="tab">{{ newsitem.newstypename }}</a></li>
                    <!--<li class="col-md-4"><a href="#tab2" data-toggle="tab">模块二</a></li>
                    <li class="col-md-4"><a href="#tab3" data-toggle="tab">模块三</a></li>-->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" style="margin: 0;">
                    <div v-for="(newsitem,index) in new_typesarr" v-bind:class="index===0?'tab-pane fade in active':'tab-pane fade ' " v-bind:id="index===0?'tab01':index===1?'tab02':'tab03' ">
                        <!--<h5>{{newsitem.newstypename}}说明</h5>-->
                        <p>{{newsitem.newstypecontent}}</p>
                    </div>
                    <!--<div class="tab-pane fade" id="tab2">
                        <h5>模块二说明</h5>
                        <p>2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。</p>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <h5>模块三说明</h5>
                        <p>2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。</p>
                    </div>-->
                </div>
                <div class="row list">
                    <div class="col-md-4" v-for="(newsitem,index) in newsarr">
                        <ul>
                            <li>
                                <a style="cursor: pointer;" v-on:click="goto_news_detail(newsitem.id)">{{newsitem.title}}</a>
                            </li>
                        </ul>
                    </div>

                    <!--<div class="col-md-4">
                        <ul>
                            <li>模块列表列表</li>
                            <li>模块列表列表</li>
                            <li>模块列表列表</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>模块列表列表</li>
                            <li>模块列表列表</li>
                            <li>模块列表列表</li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
    </section>

<!--公司案例-->
    <div id="divAnLiZhanShi"></div>
    <section class="company-case" id="companyapp">
        <div class="container">
            <div class="container">
                <div class="header">
                    <h2>公司案例</h2>
                </div>
                <div class="content">
                    <ul class="case-bxslider">

                        <li v-for="(companyitems,index) in companyapparr" v-bind:class="index===0?'active':''"><a v-bind:href="companyitems.url"><img v-bind:src="'/upload/'+companyitems.photourl" style="width: 1327px;"/></a></li>

                        <!--<li><a href=""><img src="CompanyCases/p1.jpg"></a></li>
                        <li><a href=""><img src="CompanyCases/p3.jpg"></a></li>-->

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contactapp">
        <div class="container">
            <ul class="list-inline">
                <li>上海统御信息科技有限公司</li>
                <li>
                    统御信息技术 <br />
                    没有完美的人，只有完善的团队
                </li>
                <li><a href="#footerapp" class="btn">现在联系</a></li>
            </ul>
        </div>
    </section>
<!--合作伙伴图片轮播区域！-->

<section id="divHeZuoHuoBan"></section>
<section class="cooperative-partner" id="cooperativeapp">
        <div class="container">
            <div class="header">
                <h2>合作<span>伙伴</span></h2>
                <p>专业与实力打造最优项目</p>
            </div>
            <ul class="bxslider">
                <li>
                    <ul class="row">
                        <li class="col-md-4 col-sm-6 col-xs-6">
                            <img src="images/com_1.png" alt="" />
                            <p>ibm</p>
                        </li>
                        <li class="col-md-4 col-sm-6 col-xs-6">
                            <img src="images/com_2.png" alt="" />

                            <p>ORACLE</p>
                        </li>                        
                        <li class="col-md-4 col-sm-6 col-xs-6">
                            <img src="images/com_6.png" alt="" />

                            <p>SINOPHARM</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <!--技术支持区域-->
    <section class="technical-support" id="supportapp">
        <div class="img-holder" data-image="images/su_bg.jpg" data-width="2545" data-height="871"></div>
        <div class="coverlay">
            <div class="container">
                <ul class="bxslider">
                    <li>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-circle">
                                    <img src="images/phell.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3>技术支持</h3>
                                <p class="s1 s">专业与实力打造最优项目</p>
                                <p class="s">专业与实力打造最优项目</p>
                                <p class="p">
                                    But I must explain to you how all this mistaken idea of denouncing pleasure and the
                                    praising pain was born and I will give you a complete account of the system, and ip expound
                                    the actual teachings of the great explorer
                                </p>
                                <ul class="list-inline fa-sm">
                                    <li>
                                        <i class="fa fa-phone"></i>

                                        <div class="text">
                                            <span>PHONE</span>

                                            <p>021-23051515</p>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <div class="text">
                                            <span>ADDRESS</span>
                                            <p>地址：上海市长宁区中山西路1001号2楼 </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!--<li>2</li>
                    <li>3</li>-->
                </ul>
            </div>
        </div>
    </section>

    <!--统御大事记-->
    <section class="memorabilia" id="memorabiliaapp">
        <div class="container">
            <div class="header">
                <h2>统御<span>大事记</span></h2>
            </div>
            <div id="timeline" class="carousel vertical slide" data-ride="carousel">
                <div id="map" class="svg"></div>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div v-for="(dashiitems,index) in dashiarr" v-bind:class="index===0?'item active':'item'">
                        <div v-for="dashiitem in dashiitems.getdashilist " class="caption">
                            {{dashiitem.content}}
                        </div>
                        <!--<div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>
                        <div class="caption">
                            2005:上海统御信息科技邮箱公司成立，注册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。册资金100万，成为中国医药集团中唯一一个以信息为主业的公司。
                        </div>-->
                    </div>
                    <!--<div class="item">
                        <div class="caption">
                            2006
                        </div>
                        <div class="caption">
                            2006
                        </div>
                        <div class="caption">
                            2006
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            2007
                        </div>
                        <div class="caption">
                            2007
                        </div>
                        <div class="caption">
                            2007
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            2008
                        </div>
                        <div class="caption">
                            2008
                        </div>
                        <div class="caption">
                            2008
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            2009
                        </div>
                        <div class="caption">
                            2009
                        </div>
                        <div class="caption">
                            2009
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            2010
                        </div>
                        <div class="caption">
                            2010
                        </div>
                        <div class="caption">
                            2010
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            2011
                        </div>
                        <div class="caption">
                            2011
                        </div>
                        <div class="caption">
                            2011
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            2012
                        </div>
                        <div class="caption">
                            2012
                        </div>
                        <div class="caption">
                            2012
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            2013
                        </div>
                        <div class="caption">
                            2013
                        </div>
                        <div class="caption">
                            2013
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            2014
                        </div>
                        <div class="caption">
                            2014
                        </div>
                        <div class="caption">
                            2014
                        </div>
                    </div>-->
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li v-for="(year,index) in dashiyeararr" data-target="#timeline" data-slide-to="{{index}}" v-bind:class="index===0?'active':''"><span>{{year}}</span></li>
                    <!--<li data-target="#timeline" data-slide-to="1"><span>2006</span></li>
                    <li data-target="#timeline" data-slide-to="2"><span>2007</span></li>
                    <li data-target="#timeline" data-slide-to="3"><span>2008</span></li>
                    <li data-target="#timeline" data-slide-to="4"><span>2009</span></li>
                    <li data-target="#timeline" data-slide-to="5"><span>2010</span></li>
                    <li data-target="#timeline" data-slide-to="6"><span>2011</span></li>
                    <li data-target="#timeline" data-slide-to="7"><span>2012</span></li>
                    <li data-target="#timeline" data-slide-to="8"><span>2013</span></li>
                    <li data-target="#timeline" data-slide-to="9"><span>2014</span></li>-->
                </ol>
            </div>
        </div>
    </section>

    <section class="tomore">
        想了解更多
    </section>
    <section class="join-us" id="joinapp">
        <div class="container">
            <div class="header">
                <h2>加入<span>我们</span></h2>
                <p>开创属于你的时代，打造属于你的产品</p>
            </div>
            <ul class="row">
                <li class="col-md-3" v-for="jobitems in jobsarr">
                    <div class="thumb">
                        <h3>{{jobitems.Jobname}}</h3>

                        <p class="p1">{{jobitems.remark}}</p>

                        <p class="p2">职位描述</p>
                        <p v-html="jobitems.jobcontent"></p>
                        <!--<p>2. 对交互设计有较深的理解和大量的实践，能够熟练运用软件（axure/sketch等)提供高质量的产品原型、流程图、线框图等设计方案；</p>
                        <p>3. 具备良好的团队合作能力和沟通能力，能够快速推进自己的思想并能与周边达成共识； </p>
                        <p>4. 有严密的逻辑思维能力，关注产品细节，对用户心理变化有较强的洞察力;</p>
                        <p>5. 简历请附作品。</p>-->
                    </div>
                </li>
                <!--<li class="col-md-3">
                    <div class="thumb">
                        <h3>交互设计师</h3>

                        <p class="p1">经验5-10年 / 本科</p>

                        <p class="p2">职位描述</p>

                        <p>1. 有成功的APP设计案例，1-3年移动互联网端的交互设计经验；</p>

                        <p>2. 对交互设计有较深的理解和大量的实践，能够熟练运用软件（axure/sketch等)提供高质量的产品原型、流程图、线框图等设计方案；</p>

                        <p>3. 具备良好的团队合作能力和沟通能力，能够快速推进自己的思想并能与周边达成共识； </p>

                        <p>4. 有严密的逻辑思维能力，关注产品细节，对用户心理变化有较强的洞察力;</p>

                        <p>5. 简历请附作品。</p>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="thumb">
                        <h3>交互设计师</h3>

                        <p class="p1">经验5-10年 / 本科</p>

                        <p class="p2">职位描述</p>

                        <p>1. 有成功的APP设计案例，1-3年移动互联网端的交互设计经验；</p>

                        <p>2. 对交互设计有较深的理解和大量的实践，能够熟练运用软件（axure/sketch等)提供高质量的产品原型、流程图、线框图等设计方案；</p>

                        <p>3. 具备良好的团队合作能力和沟通能力，能够快速推进自己的思想并能与周边达成共识； </p>

                        <p>4. 有严密的逻辑思维能力，关注产品细节，对用户心理变化有较强的洞察力;</p>

                        <p>5. 简历请附作品。</p>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="thumb">
                        <h3>交互设计师</h3>

                        <p class="p1">经验5-10年 / 本科</p>

                        <p class="p2">职位描述</p>

                        <p>1. 有成功的APP设计案例，1-3年移动互联网端的交互设计经验；</p>

                        <p>2. 对交互设计有较深的理解和大量的实践，能够熟练运用软件（axure/sketch等)提供高质量的产品原型、流程图、线框图等设计方案；</p>

                        <p>3. 具备良好的团队合作能力和沟通能力，能够快速推进自己的思想并能与周边达成共识； </p>

                        <p>4. 有严密的逻辑思维能力，关注产品细节，对用户心理变化有较强的洞察力;</p>

                        <p>5. 简历请附作品。</p>
                    </div>
                </li>-->
            </ul>
            <p class="email">邮件投递请发送到邮箱：hr@tongyuinfo.com</p>
        </div>
    </section>
    <footer id="footerapp">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-5">
                        <dl class="fa-sm">
                            <dt>联系我们</dt>
                            <dd>
                                <i class="fa fa-phone"></i>

                                <div class="text">
                                    <span>PHONE</span>
                                    <p>021-23051515</p>
                                </div>
                            </dd>
                            <dd>
                                <i class="fa fa-map-marker"></i>

                                <div class="text">
                                    <span>ADDRESS</span>
                                    <p>地址：上海市长宁区中山西路1001号2楼</p>
                                </div>
                            </dd>
                            <dd>
                                <i class="fa fa-envelope-o"></i>

                                <div class="text">
                                    <span>EMAIL</span>
                                    <p>market@tongyuinfo.com</p>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-7">
                        <dl>
                            <dt>留言给我们</dt>
                            <dd>
                                <form>
                                    <textarea class="form-control" rows="3" placeholder="留言" v-model="Messagecontent"></textarea>
                                    <input type="text" class="form-control" placeholder="姓名*" v-model="messagename" />
                                    <input type="text" class="form-control" placeholder="电话*" v-model="mobile" />
                                    <input type="text" class="form-control" placeholder="邮箱" v-model="email" />

                                    <p class="text-right">
                                        <transition>
                                            <button v-if="showd==='opend'" key="opend" type="button" class="btn" v-on:click="tijiao()">提交</button>
                                            <button v-if="showd==='closed'" key="closed" type="button" class="btn" style="letter-spacing:5px;">正在提交中</button>
                                        </transition>
                                    </p>
                                </form>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-text">
            <div class="container">
                <span> 2017  tongyu   &nbsp; <a href="/backend/login.html">后台管理</a></span>
                <ul class="list-inline">
                    <li><a href="#">首页</a></li>
                    <li><a href="#themeapp">关于统御</a></li>
                    <li><a href="#productapp">产品与服务</a></li>
                    <li><a href="#companyapp">案例展示</a></li>
                    <li><a href="#cooperativeapp">合作伙伴</a></li>
                    <li><a href="#joinapp">加入我们</a></li>
                </ul>
                <a href="javascript:;" class="back-top"></a>
            </div>
        </div>
    </footer>
    <!--<script src="js/jquery-1.11.1.min.js"></script>-->
    <script src="backend/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.vector-map.js"></script>
    <script src="js/china-zh.js"></script>
    <script src="js/jquery.imageScroll.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/docs.js"></script>
    <script src="js/layer/layer.js"></script>
    <script src="backend/plugins/underscore/underscore-min.js"></script>
    <!--<script src="index.js"></script>-->
    <script type="text/javascript">


        // Vue.$set(app.masagephone,"15335877090");

        $(function () {
            //合作伙伴的轮播图！
            //$('.bxslider').bxSlider({
            //    mode: 'fade',
            //    controls: false,
            //    auto:true
            //});
            //产品的轮播
            $('.product-bxslider').bxSlider({
                mode: 'fade',
                controls: false,
                adaptiveHeight: true,
                auto: true
            });
            //公司案例的轮播
            $('.case-bxslider').bxSlider({
                mode: 'fade',
                controls: false,
                auto: true
            });

            $('.img-holder').imageScroll();
            
            $('.jvectormap-zoomin').click(); //放大
        });
    </script>
</body>
</html>